.navFooter-darkmode{
    background-color: green !important;
}
.main-darkmode{
    background-color: darkgreen  !important;
}
.body-darkmode{
    background-color: cyan  !important;
}
.items-darkmode{
    background-color: green  !important;
}

.h1-darkmode{
    background-color: red;
}