.navFooter-darkmode{
    background-color: #e2ae6c !important;
}
.main-darkmode{
    background-color: #a37c82  !important;
}
.body-darkmode{
    background-color: #6e304b  !important;
}
.items-darkmode{
    background-color: green  !important;
}

.h1-darkmode{
    color: red;
}