
body{
    box-shadow: 0 0 8px 10px rgba(210,255,250,0.9);
}
main{
    background-color: #d7f1f8 ;/*rgb(210,255,250);*/
    border-left: solid 1px black;
    border-right: solid 1px black;
    width: 100%;

}
/*article{
    background-color: rgb(89,89,89);
}#8ec975
rgb(80,240,190)
article:nth-of-type(2n){
    background-color: rgb(210,255,250);
    height: 80vh;
}
*/
h1{
    font-family: Gadugi;
    color:  #014753;
    /* Muss weg wegen darkmode :)
    background-color:#d7f1f8; */
    /*rgb(210,255,250);*/

    font-size: 4.5em;
}

h2{
    font-family: Gadugi;
    color: #01839d;
    font-size: xx-large;
}

p{
    font-family: Arial;
    color: #002a29;
    font-size: large;
}

.signupin_tab-group {
    font-family: Gadugi;
    text-align: center;
    position: relative;
    padding: 2em;
}
a {
    decoration: none;
}
td{
    font-family: Arial;
}
th{
    font-family: Arial;
    font-size: x-large;
}
#easterEgg{
    font-style: italic;
}


