
body{
    margin: 3em;
    box-shadow: 0 0 8px 10px rgba(210,255,250,0.9);
}
main{
    background-color: #d7f1f8 ;/*rgb(210,255,250);*/
    border-left: solid 1px black;
    border-right: solid 1px black;
    width: 100%;

}
/*article{
    background-color: rgb(89,89,89);
}#8ec975
rgb(80,240,190)
article:nth-of-type(2n){
    background-color: rgb(210,255,250);
    height: 80vh;
}
*/
h1{
    font-family: Gadugi;
    color:  #014753;
    background-color:#d7f1f8;/*rgb(210,255,250);*/

}

h2{
    font-family: Gadugi;
    color: #01839d;
}

p{
    font-family: Arial;
    color: #002a29;
}

.signupin_tab-group {
    font-family: Gadugi;
    text-align: center;
    position: relative;
    padding: 2em;
}
a {
    decoration: none;
}
td{
    font-family: Arial;
}
#easterEgg{
    font-style: italic;

}

@media only screen and (max-width: 600px) {
    body {
        margin: 1.5em;
    }
}