.navFooter-lightmode{
    background-color: #aacfe2;
}
#main-lightmode{
    background-color: #d7f1f8;
}
.body-lightmode{
    box-shadow: 0 0 8px 10px rgba(210,255,250,0.9);
}
.items-lightmode{
    background-color: #aacfe2;
}

.h1-lightmode{
    background-color:#d7f1f8;
}
.h2-lightmode{
    background-color:#d7f1f8;
}