

#Ula{
    float:left;
}
#Jess{
    float:left;
}
#Matt{
    float:left;
}
#Anna{
    float:left;
}


article{
    height: 75vh;
    width: 100%;
}
/*.test{
    background-color: red;
}*/
article > p {
    margin:0;
}
#mainp2{
    display: block;
    margin-left: auto;
    margin-right: auto;
    max-width: 100%;
    max-height: 85%;
    height: auto;
    object-fit: cover;
}

#tl1{
    width: 48%;
    float: left;
}

#tl2{
    width: 48%;
    float: right;
}

td>h2{
    padding-left: 50%;
}

td>img {
    width: 20%;
}

h1{
    margin: 0;
    padding: 0.5em;
    text-align: center;
    /*font-size: 3em;*/
}
h2{
margin:0;
}

section > p{
margin:0;
}



@media screen and (max-width: 1024px) {


#Ula{
    margin-right: 0.3em;
    margin-left: 1.6em;
}
#Jess{
    margin-right: 0.3em;
    margin-left: 0.3em;
}
#Matt{
    margin-right: 0.3em;
    margin-left: 0.9em;
}
#Anna{
    margin-right: 0.3em;
    margin-left: 0.9em;
}
#teamArticle{
    height: 70em;
    margin-top: 5%;
}

article{
    height: 80em;
}

#tl1{
    width: 100%;
    float: left;
}

#tl2{
    width: 100%;
    float: right;
}

#td{
    margin-top: 5%;
    line-height: 1.3;


}
#tl1 tr>img{
    width: 100%;
    height: 100%;
}
td>p {
    margin-left: 25%;
    margin-right: 2%;
    font-size: x-large;
}
td>h2 {
    padding-left: 45%;
}
    #easterEgg a:link, a:visited{
        padding-left: 42%;

    }

}
@media screen and (max-width: 768px) {
    article{
      height: 65em;
    }
    #teamArticle{
        height: 70em;
    }

}
@media screen and (max-width: 540px) {
#teamArticle{
    height: 60em;
}
article{
    height: 55em;
}
td>p {
    margin-left: 25%;
    font-size: medium;
    padding-right: 0.5em;
}
}
@media screen and (max-width: 414px) {
#mainp2{
    padding-top: 9%;
}
#teamArticle{
    height: 60em;
}
#teamArticle>h1{
    padding: 0;
}
article{
    height: 50em;
}
#Ula{
    margin-left: 0.7em;
    margin-top: 20%;
 }
#Jess{
    margin-left: 0.3em;
    margin-top: 18%;
}
#Matt{
    margin-left: 0.7em;
    margin-top: 20%;
}
#Anna{
    margin-left: 0.7em;
    margin-top: 22%;
}
    #easterEgg a:link, a:visited{
        padding-left: 35%;

    }
}

@media screen and (max-width: 375px) {
    #mainp2{
        padding-top: 10%;
    }
    #teamArticle{
        height: 65em;
    }
    article{
        height: 47em;
    }
    #teamArticle > h1{
        text-align: center;
        padding: 0;
    }
    #easterEgg{
        padding-left: 0;
    }
    #easterEgg a:link, a:visited{
        padding-left: 35%;

    }
}

@media screen and (max-width: 320px) {

#mainp2{
    padding-top: 10%;
}
    #mainArticle > h1{
        padding: 0;
        font-size: 4em;
    }
    article{
        height: 35em;
    }
    #teamArticle>h1{
        font-size:3.5em;
    }
#Ula{
    margin-top: 31%;
    margin-left: 0.5em;
}
#Jess{
    margin-top: 32%;
}
#Matt{
    margin-top: 38%;
    margin-left: 0.3em;
}
#Anna{
    margin-top: 32%;
    margin-left: 0.3em;
}
#teamArticle{
    height: 68em;
}
#easterEgg a:link, a:visited{
    padding-left: 30%;

}

}