body{
    background-color: #014753;
    margin: 3em;
    box-shadow: 0 0 8px 10px rgba(210,255,250,0.9);
}
header{
    background-color: #aacfe2;
    width: 100%;
    height: 8vh;
    border: solid 1px black;
    /* this is for the stickey navbar */
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    /* until here */
}
ul{
    margin: 0;
    padding: 0;
    display:block;
    align-items: center;

}
li{
    list-style: none;
    display: inline;
    margin-right: 0.9em;
}
#mainIcon{
    margin-top: 0.3em;
    margin-left: 1em;
    height: 3%;
    width: 3%;
    float: left;
}
#teamIcon{
    margin-top: 0.2em;
    margin-left: 0.4em;
    width: 3.5%;
    float: left;
}
#signIcon{
    margin-top: 0.25em;
    margin-right: 0.3em;
    width: 3.7%;
    float: right;
}
#shopIcon{
    margin-top: 0.4em;
    margin-right: 0.3em;
    width: 4%;
    float: right;
}
#shoppingcartIcon{
    margin-top: 0.7em;
    margin-right: 1em;
    width: 4%;
    float: right;

}


footer{
    margin-top:0;
    background-color: #aacfe2;
    border: solid 1px black;
    width: 100%;
}
footer > p{
    margin: 0;
    height: 5em;
}

@media screen and (max-width: 1030px) {
    #mainIcon{
        margin-left: 1em;
        margin-top: 0.1em;
        width: 9.5%;
    }
    #teamIcon{
        margin-left: 0.4em;
        margin-top: 0.3em;
        width: 10%;
        float: left;
    }
    #signIcon{

        width: 10.5%;
        float: right;
    }
    #shopIcon{
        width: 11.5%;
        margin-top: 0.3em;
    }
    #shoppingcartIcon{
        margin-right: 1.5em;
        margin-top: 0.1em;
        width: 12%;
    }

}

@media screen and (max-width: 600px) {


}
@media screen and (max-width: 320px) {

    #mainIcon{
        margin-bottom: 0.3em;
        width: 13%;
    }
    #teamIcon{
        margin-top: 0.2em;
        margin-left: 0.2em;
        width: 14%;
        float: left;
    }
    #signIcon{
        margin-top: 0;
        width: 13%;
    }
    #shopIcon{
        margin-top: 0.1em;
        width: 17%;
    }
    #shoppingcartIcon{
        margin-top: 0.2em;
        margin-right: 1em;
        width: 15%;
    }
    body{
        margin: 2em;
    }
}
