body{
    background-color: rgb(80,240,190);
    margin: 3em;
    box-shadow: 0 0 5px 3px rgba(0,0,0,0.75);
}
header{
    background-color: rgb(89,89,89);
    width: 100%;
    height: 8vh;
    border: solid 1px black;
    /* this is for the stickey navbar */
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    /* until here */
}
ul{
    margin: 0;
    display:block;
    align-items: center;

}
li{
    list-style: none;
    display: inline;
    margin-right: 0.9em;
}
#mainp1{
    margin-top: 0.3em;
    width: 3%;
    height: 3%;
    float: left;
}
#teamp{
    margin-top: 0.35em;
    width: 5%;
    height: 4%;
    float: left;
}
#sign{
    margin-top: 0.25em;
    height: 5%;
    width: 5%;
    float: right;
}
#shop{
    margin-top: 0.4em;
    height: 5.5%;
    width: 5.5%;
    float: right;
}
#shoppingcart{
    margin-top: 0.7em;
    margin-right: 2.5em;
    height: 4%;
    width: 4%;

    float: right;
}


footer{
    margin-top:0;
    background-color: rgb(89,89,89);
    border: solid 1px black;
    width: 100%;
}
footer > p{
    margin: 0;
    height: 5em;
}


@media only screen and (max-width: 600px) {

    body{
        background-color: rgb(80,240,185);
        margin: 1em;
        box-shadow: 0 0 5px 3px rgba(0,0,0,0.75);
    }
    header{
        height: 6.5vh;
    }
    ul{
        margin: 0;
        padding-left: 0;
        font-size: 0.9em;
    }
    #mainp1{
        margin-left: 0.6em;
        margin-top: 0.2em;
        margin-bottom: 0.3em;
        height: 9%;
        width: 9%;
    }
    #teamp{
        margin-top: 0.3em;
        width: 13%;
        float: left;
    }
    #sign{
        margin-bottom: 0.5em;
        margin-top: 0;
        width: 15%;
        float: right;
    }
    #shop{
        margin-top: 0.3em;
        height: 15%;
        width: 15%;
    }
    #shoppingcart{
        margin-top: 0.5em;
        margin-right: 0.6em;
        height: 12%;
        width: 12%;
    }

    h1{
        font-size: 2em;
        color:rgb(80,240,185);
    }


}
