
#productsInCart{
    height: 65vh;
}
#weatherApi{
    height: 25vh;
}
h1{
    margin:0;
    padding: 0.5em;
    text-align: center;
    font-size: 3em;
}
h2{
    margin:0;
    padding: 0.5em;
    text-align: center;
    font-size: 2em;
}

#cartTable {
    margin-left: 15%;
    width: 70%;
    border-collapse: collapse;
    border: 3px solid black;
}


th, td {
    padding: 10px;
    border-collapse: collapse;
    border: 1px solid black;
    text-align: center;

}
#firstCol{
    width: 3%;
}
#secondCol{
    width: 15%;
    font-size: x-large;
}
tr>td{
    font-size: large;
}
#thirdCol{
    width: 7%
}
#fourthCol{
    width: 12%;
}
#fifthCol{
    width: 10%;
}
#sixthCol{
    width: 6%;
}

#cityName{
    float: left;
    margin: 1% 0 1% 29%;
}
#temp{
    float: left;
    margin: 0.7% 5% 0 5%;
}
#cartTotal {
    float: left;
    width: 20%;
    padding: 1% 5%;
    /* margin: 45px; */
    margin: 3.1% 0 0 28%;
    /*height: 40px;*/
    border: 5px black solid;
}

#productTotal {

    text-align: center;
    margin: 0;
}

#orderButton {
    margin: 6% 15% 0 5%;
    background-color: #E0B0FF;
    color: black;
    border: 2px solid;
    border-radius: 8px;
    padding: 15px;
    text-align: center;
}
button:hover {
    box-shadow: 0 12px 16px 0 grey, 0 17px 50px 0 grey;
}
#total{font-weight: bold;}



@media screen and (max-width: 1024px) {

    #productsInCart{
        height: 66vh;
    }
    #weatherApi{
        height: 25vh;
    }
    #cityName{
        margin: 2% 0 0 6%;
    }
    #weatherCondition{
        margin-top: 2.5%;
    }
    #cartTable {
        margin-left: 5%;
        width: 90%;
    }
    #firstCol{
        font-size: 2vh;
    }
    #secondCol{
        font-size: 2vh;
    }
    #thirdCol{
        font-size: 2vh;
    }
    #fourthCol{
        font-size: 2vh;
    }
    #fifthCol{
        font-size: 2vh;
    }
    #sixthCol{
        font-size: 2vh;
    }
    #cartTotal{
        margin: 6% 0 0 7%;
        width: 40%;
    }
    #productTotal{
        padding-top: 5%;
    }
    #orderButton {
        margin-top: 14.4%;
        margin-left: 10%;
    }
    #cartTotal p{
        margin: 0;
    }
}

@media screen and (max-width: 768px) {
    #cartTable{
        margin-left: 5%;
    }
    #productsInCart{
        height: 55vh;
    }
    #cartTotal{
        margin-left: 8%;
        height: 7%;
        width: 40%;
    }
    #productTotal{
        padding: 0.2em 0 0 0 ;
    }
    #orderButton{
        float: left;
        margin-top: 10%;
        margin-right: 0;
     }

    #weatherApi{
        height: 25vh;
    }
    #weatherHeading{
        padding-bottom: 1em;
        padding-top: 1em;
    }
    #cityName{
        margin: 2% 0 0 6%;
    }
    #weatherCondition{
        margin-top: 2.5%;
    }

}

@media screen and (max-width: 540px) {
    section {
        height: 100vh;
    }
    #productsInCart{
        height: 87vh;
    }
    #cartTable{
        margin-left: 5.5%;
    }
    #firstCol{display: none;}
    #fourthCol{display: none;}

    .notVisible{
        display: none;
    }

    #cartTotal {
        margin: 4% 0 0 18%;
        padding: 0;
        height: 7%;
        width: 55%;
    }
    #productTotal{
        text-align: center;
        padding-top: 3%;
    }
    #orderButton{
        float: right;
        margin-right: 5%;
        margin-top: 4%;
    }

    #weatherApi{
        height: 32vh;
    }
    #cityName{
        margin: 2% 0 0 6%;
    }

    #weatherCondition{
        margin-top: 2%;
    }

}

@media screen and (max-width: 414px) {
    #productsInCart{
        height: 91vh;
    }
    h1{
        padding: 0.5% 0.5% 5% 0.5%;
    }
    .notVisible{
        display: none;
    }
    #cartTable{
        margin: 0;
        padding: 0;
        border: 0;
    }
    #firstCol{
        display: none;
    }
    #secondCol{
        font-size: 2.5vh;
        padding: 0 3px;
    }
    #thirdCol {
        font-size: 2.5vh;
        width: 10%;
        padding: 0 3px;
    }
    #fifthCol {
        font-size: 2.5vh;
        width: 10%;
        padding: 0 3px;
    }
    #sixthCol {
        font-size: 2.5vh;
        width: 10%;
        padding: 0 3px;
    }

    #cartTotal{
        height: 8%;
        width: 80%;
        margin-left: 8%;
        margin-top: 7%;
    }
    #orderButton{
        margin-top: 12%;
        margin-right: 10%;
        padding: 2%;
        font-size: 100%;

    }

    #weatherApi{
        height: 37vh;
    }
    #weatherHeading{
        padding-left: 0;
        padding-right: 0;
    }
    #cityName {
        margin: 2% 0 0 13%;
    }

    #temp{
        margin: 4% 6% 0 28%;
    }
    #weatherCondition{
        margin-top: 13%;
    }

}

@media screen and (max-width: 375px) {
    article > h1{
        font-size: 4em;
    }
    #cartTable{
        margin: 2.5%;
        border:0;
    }
    #firstCol{
        display: none;
    }
    #secondCol{
        font-size: 2.5vh;
    }
    #thirdCol {
        font-size: 2.5vh;
    }
    #fourthCol{
         display: none;
     }
    #fifthCol {
        font-size: 3vh;
    }
    #sixthCol {
        font-size: 2.5vh;
    }
    tr>td{
        font-size: small;
    }
    #weatherApi{
        height: 52vh;
    }
    #weatherCondition{
        margin-top: 14%;
    }
}

@media screen and (max-width: 320px) {
    #productsInCart{
        height: 86vh;
    }
    article > h1{
        font-size: 3em;
    }
    tr>td{
        font-size: small;
        padding: 1%;
    }
    #cartTable{
        margin-left: 2%;
    }
    #firstCol{
        display: none;
    }
    #secondCol{
        font-size: 2.5vh;
        padding: 0 3px;
    }
    #thirdCol {
        font-size: 2.5vh;
    }

    #fourthCol{
        display: none;
    }
    #fifthCol {
        font-size: 3vh;
    }
    #sixthCol {
        font-size: 2.5vh;
    }
    #cartTotal{
         height: 8%;
         width: 90%;
         margin-left: 3%;
         margin-top: 10%;
     }
    #orderButton{
        margin-top: 12%;
        margin-right: 10%;
        padding: 4%;
        font-size: 3vh;
    }
    #weatherApi{
        height: 47vh;
    }
    #cityName{
        margin-left: 5%;
    }
    #weatherCondition{
        margin-top: 15%;
    }
}