#productShop{
    background-color: lightgray;
    height: 100%;
    width: 97%;
    padding: 1em;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

main{
    margin:0;
    padding:0;
    background-color: lightgray;
    width:100%;
}
p{
    margin:0;
    padding:0;
}

.bottom > p{
    font-size: 1.3em;
}
.imagetop{
    object-fit: cover;
    height:100%;
    width:100%;
}
.top{
    height:60%;
    width: 100%;
    border-bottom: solid 3px black;
}
.bottom{
    box-shadow: 0px 0px 5px 3px rgba(0,0,0,0.75);
    background-color: rgb(149,149,149);
    width:45%;
    height:50vh;
    float:left;
    border: solid 1px black;
    margin: 2em 1em 1em 2em;
    text-align: center;
    height:40%;
    width: 40%;
}
.img{
    object-fit: cover;
    height:100%;
    width: 100%;
    border-bottom: solid 3px black;
    border-right:solid 3px black;
}

.button {
    background: #2ecc71;
    color: #fff;
    padding: 1em 4em;
}

.button:hover {
    background: #27ae60;
}


.button:before {
    position: absolute;
    height: 100%;
    left: 0;
    top: 0;
    line-height: 3;
    font-size: 140%;
    width: 60px;
}

.product:nth-of-type(2n){
    float:right;
    margin: 2em 2em 1em 1em;
}
h1{
    margin:0;
    text-align: center;
    font-size: 3em;
}
@media only screen and (max-width: 600px) {
    .product{
        width:90%;
        margin:1em;
        text-align: center;
    }
    .product:nth-of-type(2n){
        margin:0.8em;
    }
    .button{
        padding: 0.5em 2em;
    }
    .top{
        height:50%;
    }
    .bottom{
        height:50%;
    }
    .bottom > p{
        font-size: 1em;
    }
}
